<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoQA Suite" parallel="false">
    <test name="DemoQA Tests">
        <classes>
            <class name="Testng.DemoPicker"/>
            <class name="Testng.DemoPopup"/>
            <class name="Testng.DemoAlert"/>
        </classes>
    </test>
</suite>